.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}

.gallery > .card {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	border: 1px solid transparent;
	width: calc(25% - 16px);
	margin: 8px;
	overflow: hidden;
	cursor: pointer;
	background-color: #1a1a1a;
	transition: border-color 0.25s;
	color: white;
}

.card > img {
	object-fit: contain;
	width: 100%;
}

.card:hover {
	border-color: #646cff;
}

.card:hover > img {
	animation: backgroundAnimate 5s forwards;
}

@keyframes backgroundAnimate {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

.card > .title {
	margin: 8px;
}
